{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 130,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.js",
      "options": {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 130
      }
    }
  ]
}